@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<p>Lets make a card</p>
@*<a href="/home/MakeCard">Make Card</a>*@
@Html.ActionLink("Make Card", "MakeCard")