@model CardMaker.Models.CardBusiness


@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<div class="container">
    <div class="jumbotron">
        <h1>Birthday Card Sent</h1>
        <p>Happy Birthday @Model.Recipient</p>
        <p>From: @Model.Sender</p>
        <p>Message: @Model.Message</p>
    </div>
   
</div>


