
@model HungryMinds.WebSite.Models.EnrollmentModel
@{
    ViewBag.Title = "CourseListings";
}

<h2>CourseListings</h2>
<div class="row">
    @foreach (var course in Model.Courses)
    {
        <div class="col-md-4">
            <h2>@Html.ActionLink(course.Name, "Course", new { id = course.Id })</h2>
        </div>
    }
</div>

<table class="table">
    @foreach (var model in Model.Courses)
    {
        <tr>
            <th>
                <p>@Html.Display(model.Name)</p>
            </th>

            <th></th>
        </tr>
    }
